/* -----header----- */
header { 
    background-color: rgb(41, 37, 28);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header nav ul {
    display: flex;
    gap: 2.5em;
    margin-right: 25px;
}
header nav ul li a {
    color: rgb(255, 0, 0);
}
nav, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.fa-solid {
    font-size: 2em;
    display: flex;
    justify-content: center;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}
/* ----menu---- */
#check {
    display: none;
}
.checkbtn {
    font-size: 20px;
    color: rgb(255, 0, 0);
    float: right;
    line-height: 30px;
    margin-right: 25px;
    cursor: pointer;
    display: none;
  }
/* -----main----- */
.section-1 {
    background-color: rgb(67, 78, 99);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.acerca-imagen img {
    width: 200px;
    height: 250px;
    padding-top: 1em;
}
.acerca-de {
    width: 45%;
}
h3 {
    font-family: "Honk", system-ui;
    font-size: 40px;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Eczar", serif;
    background-color: rgb(67, 78, 99);
}
/* ----trabajos---- */
.section-2 img {
    width: 100%; 
}
.trabajo-item img {
    width: 100%;
    border-radius: 16px;
}
.trabajo-item p {
    text-align: justify;
    font-size: 0.9em;
    margin: 1em;
}
.trabajo-item a {
    text-decoration: underline;
    color: #ff0000;
}
.trabajo-container {
    background-color: rgb(67, 78, 99);
}
.trabajos {
    background-color: rgb(67, 78, 99);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
.trabajo-item {
    width: 230px;
    margin-bottom: 1em;
    border-radius: 18px;
    border: 2px solid rgb(255, 0, 0);
}
/* -----footer----- */
footer {
    background-color: rgb(67, 78, 99);
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5em;
}
.logo-footer {
    display: flex;
    justify-content: center;
}
.title-section {
    text-align: center;
}
footer ul {
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 2em;
    flex-wrap: wrap;
}
footer h3 {
    text-align: center;
}
h2 {
    text-align: center
}
  /* -----media queries----- */
@media (max-width: 768px) {
    /* ----header---- */
    header {
        background-color: rgb(41, 37, 28);    
    }
    .checkbtn {
        display: block;
    }
    #encabezado ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(45, 59, 59);
        text-align: center;
        top: 40px;
        left: 100%;
        transition: all 0.8s;
    }
    header nav ul li a {
        font-size: 15px;
    }
    #check:checked ~ ul {
        left: 0;
        display: block;
    }
    #encabezado nav ul li {
        display: block;
        margin: 25px;
        line-height: 30px;
    }
    #check:checked ~ .checkbtn {
        color: rgb(255, 188, 188);
    }
    .section-1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .acerca-de {
        text-align: center;
    }
    .acerca-imagen {
        margin-bottom: 40px;
    }
    /* ----trabajos---- */
    .trabajos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
}